<!DOCTYPE html>
<html lang="en">
	<head>
		<title>практика</title>
		<meta name="descriotion" content="практика">
		<meta charset="utf8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
		<script src="/public/js/main.js"></script>
		<script src="/upload.php"></script>
    <body>
        <div id="#content">
            123
        </div>
    </body>
</html>