<!DOCTYPE html>
<html lang="en">
	<head>
		<title>практика</title>
		<meta name="descriotion" content="практика">
		<meta charset="utf8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
		<style>

		</style>
	</head>
	<body>
		<input type="text" id="input-text">
		<button id="submit-btn">Submit</button>
		<div id="output-div"></div>
		
		<script src="./js/main.js"></script>
	</body>
</html>