.block {
  display: table;
  transform: translate(200px,200px);
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
}
.ball-box {
  position: relative;
  width: 300px;
  height: 300px;
}
.box {
  display: table-cell;
}