.lights {
  width: 50px;
  margin-right: 10px;
  float: left;
}

.red {
  background-color: #800000;
}

.red.active {
  background-color: #FF0000;
}

.yellow {
  background-color: #808000;
}

.yellow.active {
  background-color: #FFFF00;
}

.green {
  background-color: #008000;
}

.green.active {
  background-color: #00FF00;
}